aiogram==3.13.1
aiohttp==3.10.11
asyncpg==0.30.0
sqlalchemy[asyncio]==2.0.36
alembic==1.14.0
redis==5.2.0
pydantic-settings==2.6.1
pandas==2.2.3
openpyxl==3.1.5
Pillow==10.4.0
apscheduler==3.10.4
pytz==2024.2
loguru==0.7.2
